version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm" # Handles pnpm-lock.yaml
    directory: "/"
    schedule:
      interval: "weekly"
    versioning-strategy: "increase"
